@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "ListMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Movies</h2>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie Name</th>
            <th>Id</th>
        </tr>
    </thead>

@foreach (var movie in Model)
{
    <tr>
        <td>@movie.Name</td>
        <td>@movie.Id</td>
    </tr>
}
</table>