@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "ListMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Movies</h2>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie Name</th>
            <th>Genre</th>
        </tr>
    </thead>

@foreach (var movie in Model)
{
    <tr>
        <td>@Html.ActionLink(movie.Name, "MovieDetails", "Movies", new { id = movie.Id }, null)</td>
        <td>@movie.Genre.Name</td>
    </tr>
}
</table>